
.section-header h3{
    font-size: 20px;
    color:#0084D4;

}
.section-header p:before{
    background-color: #0084D4;
}
.section-header p:after{
    background-color: #0084D4;
}
.back-to-top {
    background: #0084D4;
}
.support-bar-top {
    border-bottom: 3px solid #0084D4;
}
.support-bar-top a:hover {
    color: #0084D4;
}
.main-menu ul  li a::before {
    background: #0084D4;
}
.main-menu ul li a:hover{
    color: #0084D4;
}
.main-menu ul li   .mega-menu .mega-banner .mega-menu-banner{
   background: #0084D4;
}
.main-menu ul li   .mega-menu .mega-banner .mega-menu-banner a{
    color: #0084D4;
}
#header-menu>.menu-active>a, .main-menu-active>.menu-active>a:focus, .main-menu-active>.menu-active>a:hover {
    color: #0084D4;
}
.carousel .carousel-control1 {
    background-color: #0084D4;
}
.carousel-indicators .active {
    background-color: #0084D4;
}
.header-overlay:before {
  background-color:  #0084D4;
}
.domain-search-from input[type=text] {
    border-right: 2px solid #0084D4;
}
.domain-search-from input[type=submit] {
    background: #0084D4;
}
.admin-section{
    border-top:8px solid #0084D4;
}
.admin-content .admin-user button{
    border:2px solid #0084D4;
}
.admin-content .admin-user button:hover{
   background-color: #0084D4;
}
.service-content .service-list ul li.active:before {
    background-color: #0084D4;
}
.service-content .service-list ul li.active:after {
    background-color: #0084D4;
}
 .service-content .service-list ul li.active .service-thumb{
    border:1px solid #0084D4;
 }
 .service-content .service-list ul li.active a  i{
    border: 1px solid #0084D4;
    background-color: #0084D4;
}
  .service-content .service-list ul li.active a span i{
    background-color: #0084D4;
 }
  .service-content .service-list ul li.active a p{
    color:#0084D4;

 }
 .service-content .service-list ul li.active p {
    color: #0084D4;
}
.service-content .service-item .service-text a:hover{
    background-color: #0084D4;
}
.pricing-list .pricing-item{
    background-color: #0084D4;
}
.pricing-list .pricing-item:hover .pricing-header {
    background-color: #0084D4;
}
.pricing-list .pricing-item:hover .pricing-info{
    background-color: #0084D4;
}
.pricing-list .pricing-item .pricing-info ul {
    background-color: #0084D4;
}
  .other-service .other-service-list {
    border-top: 3px  dotted #0084D4;
}
.other-service .other-service-list ul li.active .other-select-border {
        border: 2px dotted #0084D4;
    }
.other-service .other-service-list ul li.active .other-select-border a i {
        background-color: #0084D4;
    }    
.other-service .other-service-content .other-service-content1 .other-service-text ul li p i {
        color: #0084D4;
    }
.other-service .other-service-content .other-service-content1 .other-service-text a {
 background-color: #0084D4;
}
.newsletter-section{
    background-color: #0084D4;
}
.online-content ul li .online-item2 .online-text button:hover{
    background-color: #0084D4;

}
.sale-header{
    border-bottom: 1px solid #0084D4;
}
.sale-header h2{
    border-bottom: 1px solid #0084D4;
}
.sale-header h2 span{
    color:#0084D4;
}
.sale-content p span{
    color:#0084D4;
}
.sale-content button {
    background-color: #0084D4;
}
.sale-content button:hover {
    color: #0084D4;
}
.team-item .team-overlay ul li a i {
    color: #0084D4;
}
.support-content a{
    background-color: #0084D4;
}
.support-bar-top a span:hover,
.support-bar-top a:hover span {
    color: #0084D4;
}
.counter-list .counter-thumb{
    background-color: #0084D4;
    border:5px solid #0084D4;
}
.blog-list .blog-thumb .blog-text2 {
    background-color: #0084D4;
}
.blog-list .blog-content:hover  a{
    background-color: #0084D4;
}
.testimonial-overlay{
    background-color: rgba(233,62,33,.9);
}
.footer-support-list{
 border-bottom: 8px solid #0084D4;
}
.widget-read-more {
    color: #0084D4;
}
.widget-one-footer i {
    color: #0084D4;
}
.widget-two-body ul li a:hover {
    color: #0084D4;
}
.footer-contact-form input[type=text]:focus,
.footer-contact-form input[type=email]:focus {
    border: 1px solid #0084D4;
}
.footer-contact-form input[type=submit] {
    background: #0084D4;
}
.footer-menu ul li a:hover {
    color: #0084D4;
}
.live-chat-btn {
    background: #0084D4;
}
.live-chat-btn i {
    background: #0084D4;
}
.footer-social-links a i {
    color: #0084D4;
    border: 1px solid #0084D4;
}
.pricing-list1 {
    border-bottom: 8px solid #0084D4;
}
.pricing-list1:hover{
    background-color: #0084D4;
}
.pricing-list1 .pricing-header1:after {
    background-color: #0084D4;
}
.pricing-list1 a {
    background-color: #0084D4;
}
.pricing-list2 .pricing-thumb i{
    color:  #0084D4;
}
#pricing-2 .slider-bg {
  background-color: rgba(233,62,33, 0.4);
}
#pricing-2 #pricing-slider .ui-slider-range {
  background-color: #0084D4; }

#pricing-2 #pricing-slider .ui-slider-handle {
  background-color: #0084D4;
}

#pricing-2 .info-item {
  background-color: #0084D4;
}
#pricing-2 .order-button a {
  border: 1px solid #0084D4;
}
#pricing-2 .order-button a:hover .right {
  background-color: #0084D4;
}
#pricing-2 .order-button .right {
  color: #0084D4;
}
.hosting-content table tbody tr td a:hover {
    background-color: #0084D4; 
}
.feature-list .feature-thumb i{
    color: #0084D4; 
    border:1px solid #0084D4; 
}
.feature-list .feature-content h6{
    color: #0084D4;
}
.feature-list1:hover .feature-thumb i{
    color:  #0084D4;
    border:1px solid #0084D4;

}
.feature-list1:hover .feature-content h6{
    color: #0084D4;
}
.hostpress-content h6{
    color: #0084D4;
}
.hostingspeed-content .hostingspeed-text h6{
    color:#0084D4;
}
  .service-list1 i {
    color: #0084D4;
    border: 1px solid #0084D4;
 }
.service-list1 .service-text a {
      background-color: #0084D4;
      border: 1px solid #0084D4;
 }
.service-list1 .service-text a:hover {
  border: 1px solid #0084D4;
  color: #0084D4;
}
.vps-feature .feature-header h1 {
    color: #0084D4; }
.vps-feature .feature-list li i {
      color: #0084D4;
 }
.vps-feature a {
  border: 1px solid #0084D4;
  background-color: #0084D4;
 }
.parallax-content a {
    background-color: #0084D4;
}
.parallax-content a:hover {
  color: #0084D4; 
}
.widget-list h4{
  color: #0084D4;
}
.widget-search button{
  background-color: #0084D4;
}
.widget-search button {
  background-color: #0084D4;
}
.widget-search button:hover{
  color: #0084D4;
}
.widget-list ul li a{
  color: #443a44;
}
.widget-list ul li:hover a{
  color: #0084D4;
}
.widget-list ul li:hover span{
    color: #0084D4;
    border:1px solid #0084D4;
}
.widget-tags ul li:hover {
   border: 1px solid  #0084D4;
}
.widget-tags ul li a{
  color: #0084D4;
}
.widget-tags ul li:hover a{
   background-color: #0084D4;
}
.blog-latest .sidebar-posts .text-box-right h6 a {
  color: #0084D4;
}
.blog-single-content .blog-thumb p {
  background-color: #0084D4;
}
.blog-single-content .blog-content h4 {
  color:#0084D4;
}
.blog-single-content .blog-content .blog-text h4 a {
    color:#0084D4;
}
.blog-single-content .blog-content .blog-text .iconlist li i {
  color: #0084D4;
}
.blog-single-content .blog-content .blog-text .social-icons-2 li a i {
  background-color: #0084D4;
}
.blog-single-content .blog-content .blog-author .blog-list .blog-text a {
  border: 1px solid #0084D4; 
}
.blog-single-content .blog-content .blog-author .blog-list .blog-text a:hover {
  background-color: #0084D4;
  border: 1px solid #0084D4; 
}
.blog-single-content .blog-content .other-blog h4 a {
  color: #0084D4;
}
.blog-single-content .blog-content .other-blog h5 a {
    color: #0084D4;
}
.blog-single-content .blog-comment ul li .blog-list .blog-text a {
  border: 1px solid #0084D4; 
  }
.blog-single-content .blog-comment ul li .blog-list .blog-text a:hover {
  background-color: #0084D4;
  border: 1px solid #0084D4; 
  }
.blog-single-content .blog-comment a.loadmore-but {
    background-color: #0084D4;
}
.add-review-list button {
    background-color: #0084D4;
}
.selected-domain-thumb i{
    color: #0084D4;
}
.selected-domain-text p a{
    color: #0084D4;
}
.selected-domain-submit span{
    color: #0084D4;
}
.selected-domain-submit button{
    background-color: #0084D4;
}
.selected-list{
    border-left:1px solid rgba(233,62,33,.9);
    border-right:1px solid rgba(233,62,33,.9);
    border-bottom:1px solid rgba(233,62,33,.9);
    background-color: rgba(233,62,33,.5);
}
.selected-list .selected-list-cart button:hover{
  background-color: #0084D4;
}
.contact-info .contact-content .contact-list ul li .contact-thumb i{
  color:#0084D4;
}
.contact-form h2:after{
    background-color:#0084D4;
}
.contact-form input:focus,
.contact-form select:focus,
.contact-form textarea:focus{
    border-color:#0084D4;
}
.contact-form button{
    background: #0084D4;
    border: 2px solid #0084D4;
}
#isotopemenu ul li.active p{
    color: #0084D4;
}
.layer{
    background: rgba(233,62,33,.7);
}
.isotope-social a i {
  color: #0084D4;
}
.isotope-social a i:hover{
    background-color: #0084D4;
}
.all-image a {
  background-color: #0084D4;
}
.login-admin .login-form input[type="submit"]{
    background-color: #0084D4;
}
.login-admin .social-login ul li a {
    background-color: #0084D4;
}
.cooming-content input[type="email"]:focus{
    background-color: #0084D4;
}
.cooming-content input[type="submit"]{
    background-color: #0084D4;
}
.cart-content table tbody tr:hover td a {
    color:#0084D4;
}
.cart-content table tfoot {
    background-color: #0084D4;
}
.cart-price .cart-coupon input[type="submit"]{
  background: #0084D4;
}
.cart-price .cart-total ul li p.cart-color {
    color:#0084D4;
}
.cart-price .cart-total ul li button {
    background: #0084D4;
}
.error-thumb p {
    color: #0084D4;
}
.error-content h1{
    color: #0084D4;
}
.error-content a{
  background-color: #0084D4;
}
.affiliate-item .affiliate-content h4 span{
    color: #0084D4;
}
.referral-amount{
    border-top:5px solid #0084D4;
}
.referral-amount:before{
    background-color: #0084D4;
}
.referral-amount p{
    border-bottom: 1px solid #0084D4;
}
.referral-amount h5{
    background-color: #0084D4;
}
.signup-affiliate a{
    background-color: #0084D4;
}
.about-info.about-light {
    background-color: #0084D4;
}
.about-info.about-light .btn.modern:hover {
    color: #0084D4;
}
.accordion .panel-heading a, .faq-categories ul li a:hover, .faq-categories ul li.active a {
    background-color: #0084D4;
}
.popular-plan-content h3 span{
    color: #0084D4;
}
.popular-plan-content ul li i{
    color: #0084D4;
}
.popular-plan-content ul li p{
    color: #0084D4;
}
.popular-plan-content ul li span{
    color: #0084D4;
}
.popular-plan-thumb {
    background-color: #0084D4;
}
.popular-plan-thumb button:hover{
    border: solid 2px #0084D4;
}
.popular-plan-thumb1 button{
    background-color: #0084D4;
    border: solid 2px #0084D4;
}
.popular-plan-thumb1 .popular-ribbon .ribbon{
    background-color: #0084D4;
}
.testimonial-area .sin-testiImage img {
    border: 1px solid  #0084D4;
}
.testimonial-area .sin-testiImage.slick-current img {
  border: 3px solid #0084D4;
 }
.datacenter-content h4 {
  color: #0084D4;
}
.client-list .client-container .our-client:hover {
  border: 1px solid #0084D4;
}
.cooming-content a {
    background-color: #0084D4;
}

.footer-social-links a:hover i {
    background-color: #0084D4;
    color: #fff;
    border: 1px solid #2c3e50;
}

.service-wrapper {
    background: #0084D4;
    border: 1px solid #0084D4;
}

.service-wrapper:hover {
    background: #ffffff;
    border: 1px solid #0084D4;
}

.service-wrapper:hover i{
    color: #0084D4;
}

.service-wrapper:hover p{
    color: #0084D4;
}

.discunt-middel-text {
    background:#0084D4;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-color: #fff;
    z-index: 99999999
}

[data-loader=circle-side] {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    -webkit-animation: circle infinite .95s linear;
    -moz-animation: circle infinite .95s linear;
    -o-animation: circle infinite .95s linear;
    animation: circle infinite .95s linear;
    border: 2px solid #0084D4;
    border-top-color: rgba(0, 0, 0, .2);
    border-right-color: rgba(0, 0, 0, .2);
    border-bottom-color: rgba(0, 0, 0, .2);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%
}

.panel-green {
    border-color: #0084D4!important;
}

.panel-green > .panel-heading {
    border-color: #0084D4!important;
    color: white;
    background-color: #0084D4!important;
}

.btn-primary {
    color: #fff;
    background-color: #0084D4!important;
    border-color:#0084D4!important;
}

.panel-default {
    border-color: #0084D4!important;
}

.panel-default> .panel-heading {
     border-color: #0084D4!important;
    color: white;
    background-color: #0084D4!important;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #0084D4!important;
    border-color:#0084D4!important;
}

.new-btn-submit {
    background-color: #0084D4;
}

.admin-header-button.support-btn {
    background: #2c3e50;
}
.open-support-btn h5 {
    background-color: #2c3e50;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: -1px;
    background-color: #0084D4;
    border: 1px solid transparent;
}

 h2 span {
    color: #0084D4;
}

.section-background{
background:#eee;
}
.sale-section p{
color:#fff;
}
